@media (max-width: 320px) {
  body {
    padding-top: 0px;
  }

  .navbar {
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
  }

  .navbar.smaller {
    -ms-transform:translateY(0px);
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
  }

   .navbar .navbar-nav {
    width: 100%;
    display: inline;
    float: none;
  }

  .navbar .navbar-nav li {
    margin: 0px;
  }

  .navbar.smaller .navbar-nav li {
    margin: 0px;
  }

  #section-banner img {    
    max-height: 75%;  
    max-width: 75%; 
  }

   #section-video .container-fluid {
    width: 100%;
    padding: 10px 0 0 0;
  }

  #section-video .youtube-video:first-child {
    margin-bottom: 10px;
  }

   #section-testimonials .testimonial_picture {
    margin-bottom: 20px;
  }

  #section-services .row {
    width: 100%;
  }

  #section-services .content-img {
    margin-bottom: 25px;
  }
}
/* Extra small devices (phones, less than 768px) */
@media (min-width: 321px) and (max-width: 767px) {
  body {
    padding-top: 0px;
  }

  .navbar {
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
  }

  .navbar.smaller {
    -ms-transform:translateY(0px);
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
  }

  .navbar .navbar-nav {
    width: 100%;
    display: inline;
    float: none;
  }

  .navbar .navbar-nav li {
    margin: 0px;
  }

  .navbar.smaller .navbar-nav li {
    margin: 0px;
  }

  .navbar.smaller .logo {
    margin-left: 10px;
  }

  #section-banner img {    
    max-height: 75%;  
    max-width: 75%; 
  }

  .hovereffect:hover h2{
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(90px);
    -webkit-transform:translatey(90px);
    transform:translatey(90px);
  }

  #section-video .container-fluid {
    width: 100%;
    padding: 10px 0 0 0;
  }

  #section-video .youtube-video:first-child {
    margin-bottom: 10px;
  }

  #section-testimonials .testimonial_picture {
    margin-bottom: 20px;
  }

  #section-testimonials .testimonial_picture img {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }

  #section-testimonials .testimonial_content h3 {
    text-align: center;
  }

  #section-services .row {
    width: 100%;
  }

  #section-services .content-img {
    margin-bottom: 25px;
  }

  #section-services .content-img img {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }


  #section-services .content-text h3{
    text-align: center;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

  .navbar .navbar-nav li {
    margin: 0 -3px; 
  }
  .navbar.smaller .navbar-nav li {
    margin: 0 1px;
    font-size: 12px;
  }

  .hovereffect:hover h2{
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(135px);
    -webkit-transform:translatey(135px);
    transform:translatey(135px);
  }

  #section-video .container-fluid {
    width: 100%;
    padding: 10px 0 0 0;
  }

  #section-video .youtube-video:first-child {
    margin-bottom: 10px;
  }

  #section-services .row {
    width: 100%;
  }

  #section-services .content .content-img img {
    width: 100%;
  }

  #section-testimonials .testimonial_picture {
    margin-bottom: 20px;
  }  

  #section-testimonials .testimonial_picture img {
    width: 50%;    
    margin-right: auto;
    margin-left: auto;
  }

  #section-testimonials .testimonial_content h3 {
    text-align: center;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1025px) {

  .fit1024 {
    max-width: 1024px;
  }

  .fit1280 {
    max-width: 1280px;
  }

  .hidden-small-devices {
    visibility: hidden;
    display: none;
  }
}