/*=======================
    Header
    Banner
    Biograph
    Portfolio
    Testimonial
    Services
    Contact
    Footer
=======================*/

body {
    width: 100%;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    color: #555555;
    padding-top: 60px;
}

html {
    width: 100%;
    height: 100%;
}

h1.header {
    font-family: 'Exo', sans-serif;
    font-size: 21px;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.more_link {
    font-family: 'Exo', sans-serif;
    font-size: 21px;
    text-align: center;
    margin-bottom: 50px;
}

.grey {
    background-color: #aaaaaa;
}

.dark-grey {
    background-color: #696969;
}

.float-right {
    float: right;
}

.portfolio-item:hover .zoom,
.portfolio-item:focus .zoom {
  transform: scale(1.1);
  transition: all .5s;
}

.zoom::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-item:hover .zoom:before,
.portfolio-item:focus .zoom:before {
  display: block;
}

/*============HEADER===========*/
.navbar {
	text-transform: uppercase;
	background-color: #fff;
}

.navbar .navbar-default{
    height: 75px;
    font-family: 'Exo', sans-serif;
    background-color: #fff;
    border-bottom: thick solid #EEEDF5;
    border-bottom-width: 3px;
    font-size: 15px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.navbar .navbar-default.smaller {
    height: 55px;
}

.navbar .logo {
	width: 100px;
	position: absolute;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}

.navbar.smaller .logo {
    display: inline-block;
    float: left;
    width: 200px;
    padding-top: 12px;
    -ms-transform:translateY(0px);
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
}

.navbar .navbar-nav {
    display: inline-block;
    float: right;
    color: #2F2F2F;
    text-align: center;
    vertical-align: top;
    padding: 10px 0;
}

.navbar.smaller .navbar-nav {
    padding: 13px;
}

.navbar .navbar-nav li {
    margin: 0 11px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;    
}

.navbar.smaller .navbar-nav li {
    margin: 0 10px;
}

.navbar.smaller .navbar-nav li a {
    padding: 4px;
}

.navbar .navbar-nav > li > a.active:after{

  background-color: #555;
  bottom: -0px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 100%;  
}

.navbar .navbar-nav > li > a::after {
	background-color: #555;
  bottom: 0px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 0%;
}
.navbar .navbar-nav > li > a:hover:after {
	width: 100%;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 56.2px;
  margin-left: -20px;
  top: 85%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 2px #505050;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #505050;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(37px);
            transform: translateY(37px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(37px);
            transform: translateY(37px);
  }
}


/*============BANNER===========*/

#section-banner {
    height:100vh;
    background: #fafafa;
    position: relative;
}

#section-banner img {    
    max-height: 50%;  
    max-width: 50%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

/*============VIDEO===========*/

#section-video {
    width: 100%;
    background-color: #505050;
}

#section-video .container-fluid {
  padding: 25px;
}

#section-video .youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}

#section-video .youtube-video iframe,
#section-video .youtube-video object,
#section-video .youtube-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*============BIOGRAPH===========*/

#section-biography {
    height: 100%;
    background-image: url("../images/bg2.jpg");
    background-size: auto 100%; 
    padding: 150px 0 0px;
    text-align: center;
}

#section-biography .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

#section-biography .content {
    font-size: 17px;
    line-height: 180%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 0 25px;
}

#section-biography .content p {
    margin-bottom: 30px;
}

#section-biography .portfolios > div {
  padding: 0 !important;
}

#section-biography .row {
    margin-left: auto;
    margin-right: auto;
}

#section-biography .portfolios img {
  width: 100%;
  height: auto;
}


/*============PORTFOLIO===========*/

#section-portfolio {
    height: 100%;
    padding: 25px 0px 0px;
    text-align: center;
    background: #fff;
}

#section-portfolio .portfolios > div {
  padding: 0 !important;
}

#section-portfolio .portfolios img {
  width: 100%;
  height: auto;
}

#section-portfolio a.more-link h3 {
    font-size: 20px;
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px 20px;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2{
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translateY(180px);
    -webkit-transform:translateY(180px);
    transform:translateY(180px);
}

/*============SERVICES===========*/

#section-services {
    height: 100%;
    padding: 25px 10px;
    background: #FBF9FE;
}

#section-services .row {
    background: #fff;
    width: 710px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
    padding: 25px 15px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 20px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

#section-services .content-text h3{
    font-size: 18px;
}

#section-services .content-text ul li{
    margin-bottom: 25px;
}

#section-services .content-text ul li h4 {
    font-size: 16px;
}

#section-services .sub-title {
    font-weight: 700;
    margin-top: 0px;
}

#section-services hr {
    border-top: 2px solid #CCD0D2;
}


/*============TESTIMONIAL===========*/

#section-testimonials {
    height: 100%;
    padding: 25px 0;
    background: #fff;
}

#section-testimonials .testimonial_list {
    margin-bottom: 50px;
    padding: 0 10px;
}

#section-testimonials .testimonial_content {
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
}

#section-testimonials .testimonial_content h3 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700;
}

#section-testimonials .testimonial_picture img {
    width: 100%;
    border-radius: 50%;
}

#section-testimonials a.more-link h3 {
    font-size: 20px;
}   

#section-testimonials a.more-link {
  color: #555;
  text-align: center;
}

/*============FRIENDS===========*/

#section-friends {
    height: 100%;
    padding: 25px 10px 0px;
    background: #FBF9FE;
}

#section-friends .friend_list {
    margin-bottom: 50px;
    padding: 0 10px;
}

#section-friends .friend_list img {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100px;
}

#section-friends .friend_list h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -10px;
}

#section-friends .friend-description {
    font-size: 16px;
}

#section-friends .friend-description p {
    margin-bottom: 35px;
}

#section-friends .friend-description a {
    font-weight: 700;
    color: #000;
}

#section-friends hr {
    border-top: 2px solid #CCD0D2;
}

/*============SAY HELLO===========*/

#section-sayhello {
    height: 100%;
    padding: 25px 10px 100px;
    background: #fff;
}

#section-sayhello .form-group {
    margin-bottom: 25px;
}

#section-sayhello .form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#section-sayhello .form-group .btn-default {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#section-sayhello .btn-square {
  border-radius: 0;
  background-color: #442E20;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
}

#section-sayhello .btn:focus, 
#section-sayhello .btn:active:focus, 
#section-sayhello .btn.active:focus {
    outline: 0 none;
}

#section-sayhello .btn-square:hover, 
#section-sayhello .btn-square:focus, 
#section-sayhello .btn-square:active, 
#section-sayhello .btn-square.active, 
#section-sayhello .open > .dropdown-toggle.btn-square {
    background: #795239;
}
 
#section-sayhello .btn-square:active, 
#section-sayhello .btn-square.active {
    background: #231710;
    box-shadow: none;
}

/*============CONTACT===========*/

#section-contact {
    font-family: 'Exo', sans-serif;
    height: 100%;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #442E20;
}

#section-contact hr {
    margin: 35px 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #493326, #533D30, #493326);
}

#section-contact .social-media .icon {
    padding: 0 10px;
}

#section-contact a {
    color: #fff;
}

#section-contact a:hover {
    color: #8b5d41;
}

#section-contact .social-media i {
    font-size: 25px;
}

/*============FOOTER===========*/

#section-footer {
    height: 100%;
    padding: 14px 0;
    text-align: center;
    background: #FBF9FE;
    font-size: 14px;
}




