<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Stanley - Your M.C. for Weddings and Events</title>
  <base href="/stan/">
  <meta content="Your M.C. for Weddings and Events. I am your actor, your voice, your entertainer and your host that binds the glitter for your event. Contact me now." name="description">
  <meta content="Muhammad Al Anis Faishal" name="coder">
  <meta content="Michael Zhang" name="designer">
  <link href="favico.png" rel="shortcut icon" type="image/x-icon">
  <link href="sources/images/192x192.png" rel="icon" sizes="192x192">
  <meta content="yes" name="mobile-web-app-capable">
  <meta content="#385E75" name="theme-color">
  <meta content="Stanley" name="apple-mobile-web-app-title">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="#385E75" name="msapplication-navbutton-color">
  <link href="manifest.json" rel="manifest">
  
  <link href="https://fonts.googleapis.com/css?family=Exo:400,500,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.css" />
  <link href="sources/css/style.css" rel="stylesheet" />
  <link href="sources/css/responsive.css" rel="stylesheet" />


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body ng-app="stanleyApp" data-spy="scroll" data-target="#myScrollspy">

  <div ui-view="header" id="section-header"></div>  
  <div ui-view="content"></div>
  <div ui-view="footer"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-touch.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
  <script src="sources/js/angular-scroll/angular-scroll.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script type="text/javascript">
     (function(){
        emailjs.init("user_3CJxqFk4QHlqhc6MCVhPN");
     })();
  </script>
  <script src="sources/js/app.js"></script>

  <script src="sources/controller/header.controller.js"></script>
  <script src="sources/controller/home.controller.js"></script>
  <script type="text/ng-template" id="custom_template.html">
        <div class="ui-notification custom-template">
            <h3>{{nTitle}}</h3>
            <div class="message" ng-bind-html="message"></div>
            <div class="message">
                <ul>
                    <li ng-repeat="el in nElements">{{el}}</li>
                </ul>
            </div>
            <div class="message">
                <a class="btn btn-small btn-primary close-notification" ng-click="nClick()">Click me</a>
            </div>
        </div>
    </script>
</body>
</html>