<div ng-controller="HeaderController">
  <nav class="navbar navbar-default navbar-fixed-top" ng-class="{'smaller':scrollDown}" role="navigation" scroll-nav>
    <div class="container-fluid fit1024">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggle" ng-click="navCollapsed = !navCollapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="#section-banner" offset="50" du-smooth-scroll><img class="img-responsive" src="sources/images/hor_logo.svg"></a>
      </div>
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">      
        <ul class="nav navbar-nav">
          <li>
            <a ng-click="toggleCollapsed()" href="#section-banner" offset="50" du-smooth-scroll du-scrollspy class="active">Home</a>
          </li>
          <li >
            <a ng-click="toggleCollapsed()" href="#section-biography" offset="50" du-smooth-scroll du-scrollspy>Biography</a>
          </li>
          <li>
            <a ng-click="toggleCollapsed()" href="#section-portfolio" offset="50" du-smooth-scroll du-scrollspy>Portfolio</a>
          </li>
          <li>
            <a ng-click="toggleCollapsed()" href="#section-services" offset="50" du-smooth-scroll du-scrollspy>Services</a>
          </li>
          <li>
            <a ng-click="toggleCollapsed()" href="#section-testimonials" offset="50" du-smooth-scroll du-scrollspy>Testimonials</a>
          </li>
          <li>
            <a ng-click="toggleCollapsed()" href="#section-friends" offset="50" du-smooth-scroll du-scrollspy>Friends</a>
          </li>      
          <li>
            <a ng-click="toggleCollapsed()" href="#section-sayhello" offset="50" du-smooth-scroll du-scrollspy>Say Hello</a>
          </li>
          <li>
            <a ng-click="toggleCollapsed()" href="#section-contact" offset="50" du-smooth-scroll du-scrollspy>Contact</a>
          </li>
        </ul>      
      </div>
    </div>
  </nav>
</div>