<section id="section-banner">
  <div class="container-fluid">
    <span class="helper"><img class="img-responsive" src="sources/images/logo.svg"></span>
    <a href="#section-biography" offset="50" du-smooth-scroll du-scrollspy>
    <div class='icon-scroll'></div></a>
  </div>
</section>
<section id="section-video">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="youtube-video">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/vI4iOo9TbcI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="youtube-video">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/fVcR0v7z3xY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section id="section-biography">
  <div class="container-fluid">   

    <div class="fit1024 content">
      <p>Stanley started his hosting journey in secondary school for school events 16 years ago.</p>

      <p>A highly energetic individual with the versatility to handle the stage and audience that is presented to him. Blessed with having a good outlook and physique, he will be able to stand out from the crowd and capture the audience to pay attention.</p>

      <p>He is able to host a wide range of events such as solemnizations, wedding events, corporate dinners, community events, charity events, roadshows and etc, you can be well assured that your event is in good hands. He also has an interest in acting & singing and is seeking to establish himself further to provide a better value to his clients and audience. </p>

      <p>Contact Stanley now to host your event!</p>

      <p>Book Early To Avoid Disappointment!</p>

    </div>
    
    <div class="row portfolios">
      <div class="col-sm-6 col-md-3 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="sources/images/biograph1.jpg" alt="">
          </a>
      </div>
      <div class="col-sm-6 col-md-3 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="sources/images/biograph2.jpg" alt="">
          </a>
      </div>
      <div class="col-sm-6 col-md-3 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="sources/images/biograph3.jpg" alt="">
          </a>
      </div>
      <div class="col-sm-6 col-md-3 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="sources/images/biograph4.jpg" alt="">
          </a>
      </div>
    </div>

  </div>
</section>
<section id="section-portfolio">
  <div class="container-fluid">
    <h1 class="header">Portfolios</h1>
    <div class="row portfolios">
      <div class="col-sm-6 col-md-4 portfolio-item">
          <div class="hovereffect">
              <img class="img-responsive" src="sources/images/portfolios/p1.jpg" alt="">
                  <div class="overlay">
                      <h2>Dare To Be Different with MP Miss Sim Ann</h2>
                  </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4 portfolio-item">
          <div class="hovereffect">
              <img class="img-responsive" src="sources/images/portfolios/p2.jpg" alt="">
                  <div class="overlay">
                      <h2>Aquatic Performance Swim Club Singapore Annual Dinner 2016 With Swimming Legend and National Head Coach Mr Ang Peng Siong</h2>
                  </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4 portfolio-item">
          <div class="hovereffect">
              <img class="img-responsive" src="sources/images/portfolios/p3.jpg" alt="">
                  <div class="overlay">
                      <h2>Jennifer and Ken's Wedding</h2>
                  </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4 portfolio-item">
          <div class="hovereffect">
              <img class="img-responsive" src="sources/images/portfolios/p4.jpg" alt="">
                  <div class="overlay">
                      <h2>Mei Yu and George's Wedding with Alvin Ng</h2>
                  </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4 portfolio-item">
          <div class="hovereffect">
              <img class="img-responsive" src="sources/images/portfolios/p5.jpg" alt="">
                  <div class="overlay">
                      <h2>Pacesetters Organisation Dinner & Dance 2017</h2>
                  </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4 portfolio-item">
          <div class="hovereffect">
              <img class="img-responsive" src="sources/images/portfolios/p6.jpg" alt="">
                  <div class="overlay">
                      <h2>Smith and Wendy Wedding</h2>
                  </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section id="section-services">
  <div class="container-fluid fit1024">
    <h1 class="header">Services</h1>
    <div class="row content">
      <div class="col-sm-4 col-sm-offset-2 col-sm-push-6 col-md-4 col-md-offset-2 content-img">        
        <img class="img-responsive" src="sources/images/services/1.png">
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-md-6 content-text">
        <h3 class="sub-title">Private Functions</h3>
        <hr/>

        <ul>
          <li><h4>Wedding</h4></li>
          <li><h4>Solemnisation</h4></li>
          <li><h4>Birthday Parties</h4></li>
          <li><h4>Karaoke Performance</h4></li>
        </ul>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-4 col-md-4 content-img">        
        <img class="img-responsive" src="sources/images/services/2.png">
      </div>
      <div class="col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2 content-text">
        <h3 class="sub-title">Corporate Events</h3>
        <hr/>

        <ul>
          <li><h4>M.I.C.E</h4></li>
          <li><h4>Meeting / Seminar</h4></li>
          <li><h4>Award Ceremony</h4></li>
          <li><h4>Dinner & Dance</h4></li>
          <li><h4>Dinner & Dance Planning</h4></li>
          <li><h4>Family Day</h4></li>
        </ul>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-4 col-sm-offset-2 col-sm-push-6 col-md-4 col-md-offset-2 content-img">        
        <img class="img-responsive" src="sources/images/services/3.png">
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-md-6 content-text">
        <h3 class="sub-title">Public Events</h3>
        <hr/>

        <ul>
          <li><h4>Road Show Promotions</h4></li>
          <li><h4>Carnival Events</h4></li>
          <li><h4>School Events</h4></li>
        </ul>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-4 col-md-4 content-img">        
        <img class="img-responsive" src="sources/images/services/4.png">
      </div>
      <div class="col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2 content-text">
        <h3 class="sub-title">Community Events</h3>
        <hr/>

        <ul>
          <li><h4>National Day Observance Ceremony</h4></li>
          <li><h4>Christmas Party</h4></li>
          <li><h4>Edusave & Bursary Award Ceremony</h4></li>
        </ul>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-4 col-sm-offset-2 col-sm-push-6 col-md-4 col-md-offset-2 content-img">
        <img class="img-responsive" src="sources/images/services/5.png">
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-md-6 content-text">        
        <h3 class="sub-title">Commercial</h3>
        <hr/>

        <ul>
          <li><h4>Acting</h4></li>
          <li><h4>Voice-overs</h4></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="section-testimonials">
    <div class="container-fluid fit1280">
      <h1 class="header">Testimonials</h1>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="row testimonial_list">
            <div class="col-md-4 testimonial_picture"><img class="img-responsive" src="sources/images/testimonials/sharonyum.jpg"></div>
            <div class="col-md-8 testimonial_content">
              <h3>Sharon Yum</h3>"We are so glad to have Stanley as our emcee for our wedding lunch and dinner. He is really helpful and has taken the initiative to help us even when he was offstage. He is professional, confident and bilingual!! Definitely someone I will recommend to others!"
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="row testimonial_list">
            <div class="col-md-4 testimonial_picture"><img class="img-responsive" src="sources/images/testimonials/wendyliem.jpg"></div>
            <div class="col-md-8 testimonial_content">
              <h3>Wendy Liew</h3>"Stanley's was our host for our wedding yesterday at Concorde!! We are so thankful for him, he did more than what a normal emcee would do. He was being so helpful throughout the entire wedding planning. We really highly recommend his service! Thank you so much once again, I'll definitely recommend anyone who's looking for emcee service to engage him!!"
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="row testimonial_list">
            <div class="col-md-4 testimonial_picture"><img class="img-responsive" src="sources/images/testimonials/junan.jpg"></div>
            <div class="col-md-8 testimonial_content">
              <h3>Jun An Sim</h3>"Stanley was our event emcee for our outdoor event, Dare or Not!, on 10th September. During the planning process, he was able to give us advice which has greatly helped us. He was able to engage the crowd really well during the event and he is professional in being an emcee!"
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="row testimonial_list">
            <div class="col-md-4 testimonial_picture"><img class="img-responsive" src="sources/images/testimonials/xinyi.jpg"></div>
            <div class="col-md-8 testimonial_content">
              <h3>Ong Xin Yi</h3>"My husband and I were very satisfied with Stanley's service during our Wedding event. His easy-going personality and quick response to requests make the planning so much smoother, as well as his willingness to make the extra mile proves of his professionalism as an MC. He is also funny and quick witted, making the evening enjoyable for all my guests. Thank you so much!"
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="row testimonial_list">
            <div class="col-md-4 testimonial_picture"><img class="img-responsive" src="sources/images/testimonials/weikian.jpg"></div>
            <div class="col-md-8 testimonial_content">
              <h3>Wei Kian & Angeline</h3>"Engaging Stanley was one of our best wedding decisions!! With him, there is never a moment our guests are bored! My guests actually asked for his contact after our dinner. He even helped to "ta" wine/beer for us!! Awesome right!! His added value services deserve a BIG thumbs up!! Thank you Stanley for making us at ease throughout the night!!"
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="row testimonial_list">
            <div class="col-md-4 testimonial_picture"><img class="img-responsive" src="sources/images/testimonials/lifan.jpg"></div>
            <div class="col-md-8 testimonial_content">
              <h3>Li Fan</h3>"Stanley was our emcee at our wedding back in March 2014. It was actually his first wedding gig, but he was great! My guests were shocked when they heard that he wasn't a professional host (at the time), as he was very entertaining, calm and composed in front of 80 tables of guests. His work started way before the actual day, as he was very involved with the overall planning and able to give helpful advice. Be sure to book him early!"
            </div>
          </div>
        </div>
        
      </div>
      <a class="more-link" href='https://www.facebook.com/pg/emceestanley/reviews/' target="_blank"><h3>See more &nbsp;<i class="fa fa-caret-right"></i></h3></a>
    </div>
  </section>
<section id="section-friends">
  <div class="container-fluid fit1024">
    <h1 class="header">Friends</h1>
    <div class="row">
        <div class="col-md-12 friend_list">
          <h3 class="sub-title">Music Box</h3>
          <hr/>
          <img class="img-responsive" src="sources/images/friends/musixbox.png">
          <div class="friend-description">
            <p>Music Box – the only Wedding Live Band in Singapore with an auspicious Chinese name called 百年好盒. It comes from the common Auspicious Chinese Wedding Greeting – 百年好合, which translates as “a hundred years of harmony”, and thus for wishing couples lifelong marriage harmony.</p>
            <p>With a compact team of musicians, vocalists and emcees constantly performing, we are highly experienced in providing great live band music and wedding hosting since 2007. </p>
            <p>Visit them at <a href="http://www.musicbox.com.sg" target="_blank">www.musicbox.com.sg</a> for more of the live gig wedding portfolios.</p>
          </div>
        </div>
        <div class="col-md-12 friend_list">
          <h3 class="sub-title">Moments in 7</h3>
          <hr/>
          <img class="img-responsive" src="sources/images/friends/momentsin7.jpg">
          <div class="friend-description">
            <p>Moments in 7 is a premier luxury wedding and event company that specializes in creating exquisite, signature weddings and one-of-a-kind events throughout Singapore.</p>
            <p>We provide full fledge services from proposal services, wedding/ events planning, gourmet dessert table, themed instant print photo booth, wedding/ events photography to cinematography.</p>
            <p>Visit them at <a href="https://www.facebook.com/momentsin7/" target="_blank">www.facebook.com/momentsin7</a> for more information.</p>
          </div>
        </div>
        <div class="col-md-12 friend_list">
          <h3 class="sub-title">AlanMitchi Productions</h3>
          <hr/>
          <img class="img-responsive" src="sources/images/friends/alanmitchi.jpg">
          <div class="friend-description">
            <p>ALANMITCHI is providing wedding/corporate/event videography, photography and cinematography.</p>
            <p>We provide the detail motion pictures of their special day which they would be able to rekindle their events even after their actual day. </p>
            <p>Not only that, Alanmitchi also creates the iconic concept videos to celebrate its most joyous and memorable moment with the combination of the couple ideas and desires. </p>
            <p>We continue to strive from the fundamental and offer classic movie to our every customer with our personalized services.﻿</p>
            <p>Visit them at <a href="http://www.alanmitchi.com/" target="_blank">www.alanmitchi.com</a> for more information. You can also find them on Facebook, <a href="https://www.facebook.com/alanmitchi/" target="_blank">www.facebook.com/alanmitchi/</a></p>
          </div>
        </div>
        <div class="col-md-12 friend_list">
          <h3 class="sub-title">Blackcurrent & Co</h3>
          <hr/>
          <img class="img-responsive" src="sources/images/friends/blackcurrent.png">
          <div class="friend-description">
            <p>We love weddings! Kenny, the founder of Blackcurrant & co wedding production house, still remember the first time he held a camera in his hands to capture essential moments for a wedding couple. The adrenaline rush, the anticipation (of how the images will turn out) and the appreciation the couple (or the family/friends) gave, makes him take the leap of faith into this wedding industry full time in 2009.</p>
            <p>Blackcurrant’s brand is conceived in a blunt way to introduce our style, simply natural and just the sweetness in two very lovely people coming together. In all natural sweetness in life, Blackcurrant team ensures that you enjoy the most out of your wedding day, and remember the sweetness of the day, through our lenses.</p>
            <p>Visit them at <a href="http://blackcurrantstudio.com/" target="_blank">blackcurrantstudio.com</a> for more information. You can also find them on Facebook, <a href="https://www.facebook.com/blackcurrantco/" target="_blank">www.facebook.com/blackcurrantco/</a></p>
          </div>
        </div>
        <div class="col-md-12 friend_list">
          <h3 class="sub-title">Alisha & Lace</h3>
          <hr/>
          <img class="img-responsive" src="sources/images/friends/alice&lace.png">
          <div class="friend-description">
            <p>Alisha & Lace originally from Taiwan. Our design team always believes “We create Beauty!”</p>
            <p>From years of experience, Alisha & Lace design team can work with all types of materials to create the different effect of every different mood.</p>
            <p>“Every details count” is the very basic understanding of our design team spirit. From the very beginning of understanding the shape of each bride follow by the 1st mock-up fitting of gown till the finishing touch of sewing up the lace embellishment, crystal, pearls etc and making the veil. We make sure every bride walk down the aisle like a princess.</p>
            <p>Expertise in gown making, particularly French lace triggered designer Alisha’s creation of more dimensional texture, enhancing linings incorporated by using accessories to refine the final product of each exquisite hand-made gown. Our designers especially design, hand-pick and matching of colour coordination to appropriately create nobility based on individual’s style, preferences and stature.</p>
            <p>Visit them at <a href="http://www.alisha.asia/" target="_blank">www.alisha.asia</a> for more information.</p>
          </div>
        </div>
        <div class="col-md-12 friend_list">
          <h3 class="sub-title">Ponnie Hsu Makeup Studio</h3>
          <hr/>
          <img class="img-responsive" src="sources/images/friends/ponnie.png">
          <div class="friend-description">
            <p>At a young age and loving the essence of beauty, I self-create & experiment styling in front of the mirror. After graduation from high school, I took up my first job as a make-up artist in a wedding boutique. This has further enhanced passion, vast interest, and enthusiasm. 20 years has gone by after taking it as a career.</p>
            <p>Being in Singapore for 14 years, I have completely adapted to both local culture and the styles for newlywed couples. The majority of local to-wed brides like and choose the natural touch. Bringing out simplistic and elegance of all individuals. Natural styling is the closest to our skin colour where most do not seeing the obvious difference. Which is why the choice of foundation is vital. Regardless being in a multicultural society, nature will maintain its radiance and lasting.</p>
            <p>Visit them at <a href="http://ponniemakeup.com/" target="_blank">ponniemakeup.com</a> for more information.</p>
          </div>
        </div>
    </div>
  </div>
</section>
<section id="section-sayhello" ng-controller="formController">
  <div class="container-fluid fit1024">
    <h1 class="header">Say Hello</h1>
    <form name="userForm" ng-submit="submitForm(user)" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }"> 
        <input type="text" class="form-control" placeholder="Your name" name="name" ng-model="user.name" required>
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <input type="email" class="form-control" placeholder="Your e-mail" name="email" ng-model="user.email" required>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userForm.event_date.$invalid && !userForm.event_date.$pristine }">
        <p class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.event_date" is-open="popup.opened" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" close-text="Close" placeholder="Your event date" />          
        </p>
        <p ng-show="userForm.event_date.$invalid && !userForm.event_date.$pristine" class="help-block">You event date is required.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userForm.contact_no.$invalid && !userForm.contact_no.$pristine }">
        <input type="number" class="form-control" placeholder="Your contact number" name="contact_no" ng-model="user.contact_no" required>
        <p ng-show="userForm.contact_no.$invalid && !userForm.contact_no.$pristine" class="help-block">You contact number is required.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userForm.hear_from.$invalid && !userForm.hear_from.$pristine }">
        <select class="form-control" name="hear_from" ng-model="user.hear_from" required>
          <option value="" selected disabled>Where do you hear us from?</option>
          <option value="Search Engines (Google, Yahoo etc)">Search Engines (Google, Yahoo etc)</option>
          <option value="Magazines">Magazines</option>
          <option value="Social Media (Facebook, Instagram etc)">Social Media (Facebook, Instagram etc)</option>
          <option value="Friends and Family">Friends and Family</option>
          <option value="Roadshows">Roadshows</option>
          <option value="Others">Others</option>
        </select>
        <p ng-show="userForm.hear_from.$invalid && !userForm.hear_from.$pristine" class="help-block">Option is required.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error ' : userForm.message.$invalid && !userForm.message.$pristine }">
        <textarea class="form-control" rows="5" name="message" ng-model="user.message" placeholder="Enter your message" required></textarea>
        <p ng-show="userForm.message.$invalid && !userForm.message.$pristine" class="help-block">Message is required.</p>
      </div>
      <button type="submit" class="btn btn-square" ng-disabled="userForm.$invalid || searchButtonText == 'SENDING'"><span ng-show="searchButtonText == 'SENDING'"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span> {{ searchButtonText }}</button>
    </form>
  </div>
</section>
<section id="section-contact">
  <div class="container-fluid">
    <p>Stanley Soh</p>
    <p><a href="mailto:stanleysoh@emceestanley.com">stanleysoh@emceestanley.com</a></p>
    <p>Phone: <a href="tel:+6586918168">+65 8691 8168</a></p>
    <hr>
    <div class="row social-media">
      <a href="https://www.instagram.com/emceestan/" target="_blank" title="Stanley Instagram" data-toggle="tooltip" data-placement="top" tooltip><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/emceestanley/" target="_blank" title="Stanley Facebook" data-toggle="tooltip" data-placement="top" tooltip><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#" target="_blank" title="Stanley Youtube" data-toggle="tooltip" data-placement="top" tooltip><i class="icon fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
  </div>
</section>